<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Category Id</th>
        <th scope="col">UnitInStock</th>
        <th scope="col">Unit Price</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.categoryId}}</td>
            <td>{{product.unitInStock}}</td>
            <td>{{product.unitPrice}}</td>
            
        </tr>
    </tbody>
  </table>